# ----------------------------
# Base de datos PostgreSQL
# ----------------------------
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=

# ----------------------------
# Pool de conexiones SQLAlchemy
# ----------------------------
DB_POOL_SIZE=6
DB_MAX_OVERFLOW=0

# ----------------------------
# Datos
# ----------------------------
DATA_DIR=Data
SOURCE_FILE=${DATA_DIR}/sales.csv

# ----------------------------
# Carga batch y concurrencia
# ----------------------------
CHUNKSIZE=10000
MAX_WORKERS=3   # controla el número de threads concurrentes (1 = sin concurrencia)

# ----------------------------
# Seguridad
# ----------------------------
ENCRYPTION_KEY=
# HASH_SALT=Opcional

# ----------------------------
# Logging
# ----------------------------
LOG_LEVEL=INFO
