# ----------------------------
# Base de datos PostgreSQL
# ----------------------------
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=

# ----------------------------
# Archivo de origen
# ----------------------------
DATA_DIR=Data
SOURCE_FILE=${DATA_DIR}/sales.csv

# ----------------------------
# Carga batch
# ----------------------------
CHUNKSIZE=10000

# ----------------------------
# Seguridad
# ----------------------------
ENCRYPTION_KEY=
# HASH_SALT=Opcional

# ----------------------------
# Logging
# ----------------------------
LOG_LEVEL=INFO
